
.popup-overlay {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.menu-heading{
    margin-left: 15px;
    color: #C94C02;
    font-weight: 700;
}
.popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    width: 70%;
    margin-bottom: 30px;
    height: 60vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.input-colomn-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width:95%;
}
.input-row-items{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 0px 15px;
    width: 90%; 
}
.menu-input {
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    outline: none;
    width: 100%; /* Take up full width */
}
.menu-input + .menu-input {
    margin-top: 10px; /* Add margin between input fields */
}
.img-upload{
    display: flex;
    justify-content: flex-end;
}
.img-items {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    color: #5B8002;
    font-weight: 550;
    font-size: 18px;
}

.button-row {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 20px;
}
.cancel-button {
    background-color: #C94C02;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
}
.add-button {
    background-color: #ffffff;
    color: #C94C02;
    font-size: 16px;
    border: 1px solid #C94C02;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 5px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .input-colomn-items {
        flex-direction: column; /* Stack inputs vertically on smaller screens */
    }

    .input-row-items{
        width: 100%; /* Take up full width */
    }

    .menu-input + .menu-input {
        margin-top: 15px; /* Increase margin between input fields */
    }
    .button-row{
        margin-bottom: 70px;
    }
}